@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Space Grotesk', sans-serif;
  }
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
    
  }
  h1 {
    color: red;
    font-size: 40px;
  }
}

.error {
  visibility: hidden;
}

.bg-custom {
  background-size: 100% 35%;
}

@media only screen and (min-width: 768px) {
.bg-custom {
  background-size: 30% 100%;
  }
}
